.about
  margin-bottom: 100px

  &__welcome h1
    font-weight: 700
    font-size: 48px
    text-transform: uppercase
    margin-bottom: 48px
    line-height: 56px

  &__pers
    display: flex
    flex-direction: column
    align-items: center

    &_img
      margin-bottom: 32px

    &_img img
      max-width: 400px

  &__pers h2
    text-transform: uppercase
    font-weight: 700
    font-size: 48px
    margin-bottom: 12px

  &__gradient
    background: linear-gradient(90deg, #B86ADF 0%, #FF6C63 50%, #FFB147 100%)
    background-clip: text
    -webkit-text-fill-color: transparent

  &__pers h4
    font-weight: 700
    font-style: italic
    font-size: 24px
    margin-bottom: 32px

  &__pers h4 span
    font-style: normal
    font-weight: 400

  &__pers_a
    display: flex
    align-items: center
    gap: 10px

  &__pers a
    color: $color_text
    font-size: 18px
    font-weight: 500
    text-decoration: underline

  &__info
    display: flex
    justify-content: space-between
    margin-bottom: 110px

  &__contact
    display: flex
    gap: 85px

    &_b
      display: flex
      flex-direction: column
      gap: 24px

    &_bi
      display: flex
      align-items: center
      gap: 12px
      font-size: 18px
      font-weight: 700
      font-style: italic

    &_bi img
      width: 40px

  &__exp
    display: flex
    gap: 30px
    margin-bottom: 64px
    margin-top: 48px

  &__years-clients
    display: flex
    gap: 12px
    align-items: center
    margin-bottom: 20px

  &__p
    max-width: 315px
    font-size: 18px
    line-height: 24px

  &__gradient_i
    font-size: 48px
    font-weight: 700

  &__p-italic
    font-size: 18px
    font-weight: 700
    font-style: italic

  &__quote
    display: flex
    justify-content: space-between
    gap: 12px
    max-width: 660px
    padding: 40px
    background-color: $color_text
    color: #fff

    &_text p
      color: #fff
      font-size: 20px
      font-weight: 600
      font-style: italic

  &__experience
    display: flex
    justify-content: space-around
    background: $gradient
    padding: 120px 0

    &_text
      margin: auto 0

    &_text p, h4, a
      color: #fff

    &_text h4
      font-size: 48px
      font-weight: 700
      margin-bottom: 24px
      text-transform: uppercase

    &_text p
      font-size: 18px
      margin-bottom: 48px
      max-width: 380px
      line-height: 28px

    &_text a
      font-size: 18px
      font-weight: 500
      padding: 16px 40px
      background-color: #000
      transition: box-shadow 0.3s
      &:hover
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7)

    &_years
      width: 545px
      margin: auto 0

    &_years hr:not(:last-child)
      margin-top: 20px
      margin-bottom: 40px
      opacity: 0.2

    &_years hr:last-child
      margin-top: 20px
      opacity: 0.2

    &_years h5, h6, p
      color: #fff

    &_year
      display: flex
      justify-content: space-between
      margin-bottom: 12px

    &_year h6
      font-size: 18px
      font-weight: 700
      font-style: italic

    &_year p
      font-size: 16px
      font-weight: 500

    &_inf h5
      font-size: 32px
      font-weight: 700
      line-height: 48px
      text-transform: uppercase